<a href=<%= "/users/#{user.id}/posts/#{post.id}" %> class="post_link">
  <h3><%= post.title %></h3>
  <p><%= "#{post.text.slice(0, 100)}..." %></p>
  <p class="counters">
    <%= "Comments: #{post.comments_counter}, Likes: #{post.likes_counter}"%>
  </p>
</a>