.post_link {
  display: block;
  margin: 5px;
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.post_link:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.post_link .counters {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 14px;
}