.post_content,
.content_comments {
  border: 2px solid black;
  margin: 5px;
  padding: 15px;
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
}

.content_counters {
  position: absolute;
  top: 5px;
  right: 10px;
}

form {
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 1px solid rgba(0, 0, 0, 0.3);
}

form textarea {
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
}
